.container_div {
    width: 100%;
    direction: rtl;
    margin-top: 25px;
    margin-bottom: 15px;
}

.add_content_container {
    width: 538px;
    height: 220px;
    cursor: default;
}

.add_content_back_div {
    width: 538px;
    height: 200px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-image: url('/img/travellers/add_content_small.jpg');
    background-repeat: no-repeat;
}

.add_content_buttons_div {
    width: 449px;
    height: 80px;
    position: absolute;
    margin-top: 140px;
    margin-right: 44px;
    background-color: white;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.add_content_title {
    font-size: 19px;
    font-weight: bold;
}

.push_promo_container {
    width: 540px;
    height: 386px;
    cursor: default;
}

.push_promo_back_div {
    width: 540px;
    height: 290px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-image: url('/img/promo/push_back.jpg');
    background-repeat: no-repeat;
}

.push_promo_buttons_div {
    position: absolute;
    margin-top: 213px;
}

.push_facebook {
    width: 229px;
    height: 173px;
    cursor: pointer;
    background-image: url('/img/promo/push_facebook.png')
}

.push_facebook:hover {
    background-image: url('/img/promo/push_facebook_over.png')
}

.push_telegram {
    width: 229px;
    height: 173px;
    cursor: pointer;
    background-image: url('/img/promo/push_telegram.png')
}

.push_telegram:hover {
    background-image: url('/img/promo/push_telegram_over.png')
}

.add_context_div {
    font-size: 15px;
    margin-top: 9px;
    text-align: center;
}

.menu_table {
    width: 100%;
    height: 80px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.menu_table:hover {
    background-color: #fff6e5;
    border-radius: 5px;
}

.menu_seperator {
    width: 1px;
    background-color: #cbcbcb;
}

.menu_text {
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.flights_deals_div {
    width: 538px;
    overflow: hidden;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.deals_title_container {
    width: 538px;
    height: 45px;
    background-color: #f5f5f5;
}

.link_dest_text {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.deal_title_container {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.deal_title_text {
    background-color: #232a34;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.deal_filter_container {
    width: 100%;
    border: 1px #cccccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    font-weight: normal;
}

.owl-prev, .owl-next {
    width: 15px;
    top: 15px;
    height: 60px;
    position: absolute;
    display: block !important;
    border: 0px solid black;
    color: #626262;
}

.owl-prev {
    right: -10px;
}

.owl-prev:focus {
    outline: none;
}

.owl-next {
    left: -20px;
}

.owl-next:focus {
    outline: none;
}

.owl-prev, .owl-next {
    top: 102px !important;
}

.deal_filter_sep {
    width: 1px;
    background-color: #cbcbcb;
}

.owlDealItem {
    width: 249px;
    height: 655px;
    margin-left: 10px;
    text-align: center;
    background-color: white;
}

.owlDealCityItem {
    width: 249px;
    height: 482px;
    margin-right: 10px;
    text-align: center;
    background-color: white;
}

.owlDealsGlobalItem {
    width: 249px;
    height: 525px;
    margin-right: 10px;
    text-align: center;
    background-color: white;
}

.deals_slider {
    width: 538px;
}

.no_deals_panel {
    width: 100%;
    text-align: center;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-color: white;
}

.month_panel {
    width: 100%;
    height: 45px;
    background-color: #436081;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.month_panel_best {
    width: 100%;
    height: 45px;
    background-color: #4b6c4e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.month_name {
    font-size: 16px;
    color: white;
}

.dest_image_div {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.dest_name_panel {
    width: 100%;
    height: 40px;
    background-color: #232a34;
}

.dest_name {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.faresListDiv {
    height: 610px;
    overflow: hidden;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
}

.bestFareContainer {
    min-width: 235px;
    width: 100%;
    cursor: pointer !important;
    background-color: white;
}

.bestFareContainer:hover {
    background-color: #fff6e5;
}

.bestFlightsSeperator {
    width: 100%;
    height: 1px;
    background-color: #cbcbcb;
    overflow: hidden;
}

.global_deals_container {
    height: 304px;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
}

.dest_more_panel {
    width: 100%;
    height: 30px;
    background-color: #436081;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.link_more_flights {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.best_fare_div {
    max-height: 60px;
    overflow: hidden;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 11px;
}


.deals_title_container {
    width: 538px;
    height: 45px;
    background-color: #f5f5f5;
}

.link_dest_text {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.tip_title_div {
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #cbcbcb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tip_content_list_div {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    direction: rtl;
    text-align: justify;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}

.tip_content_list_div:hover {
    border: 1px solid #545454;
}

.tip_content_list_div img {
    width: 100%;
    max-width: 150% !important;
}

.tip_list_title {
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.read_more {
    color: #8f1400;
    font-style: italic;
}

.tip_info {
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pager_div {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.dxp-current {
    background-color: #f6931e !important;
}

.stats_avatar_border_big {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.img_avatar_big {
    width: 34px;
    height: 34px;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
}

.tip_stats_div {
    width: 100%;
    height: 30px;
    background-color: #fff6e5;
    border-bottom: 1px solid #cbcbcb;
}

.tip_stats_text {
    font-size: 10px;
    color: #2e2e2e;
}

.tip_profile_link {
    color: #2e2e2e;
    text-decoration: none;
}

.tip_profile_link:hover {
    text-decoration: underline;
}

.comment_seperator {
    width: 100%;
    height: 1px;
    background-color: #cbcbcb;
}

.tip_title_table {
    width: 100%;
    height: 60px;
    text-align: center;
}

.new_question_div {
    width: 666px;
    height: 45px;
    background-color: #f5f5f5;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
}

.new_question_table {
    width: 100%;
    height: 45px;
    text-align: center;
}

.new_question_link {
    color: #8f1400;
    text-decoration: none;
}

.new_question_link:hover {
    text-decoration: underline;
}

.no_results_div {
    width: 666px;
    background-color: #f5f5f5;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
}


.travellers_content_panel {
    width: 666px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    margin-top: 25px;
}

.travellers_content_padding {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.best_images_padding {
    margin: 20px;
}

.tab_table {
    width: 100%;
    height: 50px;
    text-align: center;
}

.tab_seperator {
    width: 1px;
    height: 50px;
    background-color: #cbcbcb;
}

.tab_panel {
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.tab_panel:hover {
    background-color: #f5f5f5;
}

.tab_panel_selected {
    width: 100%;
    height: 50px;
    background-color: #fff6e5;
    font-size: 14px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
}

.more_content_panel {
    width: 626px;
    background-color: white;
    border:1px solid #cbcbcb;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.more_content_panel:hover {
    background-color: #f5f5f5;
}

.more_content_div {
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
}

.content_section_header {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

.travel_cat_div {
    width: 143px;
    height: 90px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.travel_cat_div:hover {
    background-color: #fff6e5;
}

.travel_cat_tbl {
    text-align: center;
}

.travel_cat_link {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.main_dest_div {
    width: 143px;
    height: 132px;
    background-color: #f5f5f5;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.main_dest_div:hover {
    border: 1px solid #545454;
}

.img_dest {
    width: 143px;
    height: 95px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-size: cover;
}

.dest_link {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.no_style_link {
    color: black;
    text-decoration: none;
}

.album_content_div {
    width: 664px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    direction: rtl;
    text-align: justify;
    font-size: 14px;
    float: right;
    margin-top: 25px;
}

.images_title_div {
    width: 664px;
    height: 45px;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #cbcbcb;
}


.img_wrapper_border {
    width: 199px;
    height: 160px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}

.img_wrapper_border:hover {
    opacity: 0.85;
}

.img_wrapper_div {
    width: 199px;
    height: 160px;
    background-position: center;
    background-size: cover;
    float: right;
    cursor: pointer;
}

.owlAlbumItem {
    width: 247px;
    height: 190px;
    background-color: white;
    margin-left: 10px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    overflow: hidden;
}

.owlImageItem {
    width: 200px;
    height: 160px;
    background-color: white;
    margin-left: 10px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    overflow: hidden;
}

.album_image_div {
    width: 100%;
    height: 190px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.best_image_div {
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.album_title_back {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #232a34;
    background-color: rgba(35, 42, 52, 0.7);
}

.album_link {
    text-decoration: none;
    color: white;
}

.more_link {
    color: #8f1400 !important;
    text-decoration: none;
}

.more_link:hover {
    text-decoration: underline;
}

.link_white_ns {
    color: white;
    text-decoration: none;
}

.more_flights_div {
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    margin-top: 2px;
}