h1 {
    font-size: 28px;
    font-family: 'Arimo', sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: bold;
    font-size: 15px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

h3 strong {
    font-size: 15px;
    font-weight: bold;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

strong {
    font-size: 13px;
    font-weight: bold;
}

a {
    color: #8f1400;
    text-decoration: none;
}

.jspPane {
    left:unset !important;
    margin-left: 5px !important;
}

.promo_div b {
    font-size: 13px;
}

.link_no_style {
    text-decoration: none;
    color: black;
}

.link_underline {
    text-decoration: none;
    color: black;
}

.link_underline:hover {
    text-decoration: underline;
}

.header_container {
    width: 1231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    direction: rtl; 
    text-align: right;
}

.owl-prev, .owl-next {
    width: 15px;
    top: 15px;
    height: 60px;
    position: absolute;
    display: block !important;
    border: 0px solid black;
    color: #626262;
}

.owl-prev {
    right: -20px;
}

.owl-prev:focus {
    outline: none;
}

.owl-next {
    left: -20px;
}

.owl-next:focus {
    outline: none;
}

.owl-prev, .owl-next {
    top: 55px !important;
}

.title_container {
    position: absolute;
    background-color: white;
    margin-right: 40px;
    margin-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999;
}

.share_container {
    position: absolute;
    background-color: white;
    margin-right: 958px;
    margin-top: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 999;
}

.title_div {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-top: 4px;
}

.title_text {
    font-size: 17px;
    font-weight: bold;
    margin-right: 18px;
}

.share_img {
    opacity: 1;
    cursor: pointer;
}

.share_img:hover {
    opacity: 0.8;
}

.share_loading {
    display: none;
    width: 105px;
    text-align: center;
}

.wide_border_div {
    width: 1231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.wide_border_inner_div {
    margin: 14px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.no_wide_border_inner_div {
    border-radius: 5px;
    background-color: #f5f5f5;
}

.wide_border_flights_inner_div {
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 14px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    background-color: #f5f5f5;
    height: 96px;
}

.guide_categories_div {
    width: 1232px;
    margin-left: auto;
    margin-right: auto;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    border-radius: 5px;
}

.guide_cat_sep {
    width: 1px; 
    background-color: #cbcbcb;
}

.link_guide_cat {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.link_guide_cat:hover {
    color: #8f1400;
}

.link_guide_cat_selected {
    font-size: 13px;
    color: #8f1400;
    text-decoration: none;
}

.guide_table {
    width: 100%;
    height: 40px;
    text-align: center;
    direction: rtl;
}

.bottom_border_div {
    width: 1231px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    text-align: right; 
    direction: rtl;
    font-size: 15px;
}

.general_seperator {
    width: 100%;
    height: 1px;
    background-color: #cbcbcb;
}

.vertical_seperatpr {
    width: 1px;
    background-color: #cbcbcb;
}

.dest_info_div {
    width: 1233px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.dest_cat_item_div {
    width: 100%;
    height: 36px;
}

.destMenuItemText {
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding-top: 8px;
}

.destMenuItem {
    width: 100%;
    height: 36px;
    text-align: center;
    cursor: pointer;
}

.destMenuItem:hover {
    background-color: #f5f5f5;
}

.cat_text {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.cat_text:hover {
    color: #8f1400;
}

.cat_text_selected {
    font-size: 16px;
    text-decoration: none;
    color: #8f1400;
}

.cat_menu_panel {
    position: absolute;
    margin-top: 403px;
    width: 1136px;
    margin-right: 40px;
    height: 45px;
    z-index: 999;
}

.cat_menu_table {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 45px;
}

.destMenuDivPopup {
    width: 250px;
    background-color: white;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.small_arr_div {
    float: right;
    margin-right: 7px;
    font-size: 13px;
    cursor: default;
}

.linkLoc {
    width: 150px;
    height: 24px;
    margin-right: 7px;
    margin-bottom: 7px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    text-align: center;
}

.linkLoc:hover {
    background-color: #f5f5f5;
}

.linkLocTex {
    font-size: 11px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.main_image_panel {
    width: 1201px;
    height: 420px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.no_image_panel {
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.pop_image_panel {
    width: 100%;
    height: 420px;
    float: right;
}

.pop_image_big {
    width: 52%;
    height: 420px;
    float: right;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pop_image_small {
    width: 100%;
    height: 210px;
    float: right;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.promo_div {
    background-color: white;
    border-top: 1px solid #cbcbcb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.promo_text {
    direction: rtl;
    padding: 15px;
    text-align: justify;
    font-size: 14px;
}

/******************************************************************/
/*******************   All Travel Destination   *******************/
/******************************************************************/

.top_back_panel {
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.title_div.all_dests {
    width: 1231px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
}

.cat_menu_panel.all_dests {
    position: absolute;
    margin-top: 333px;
    margin-right: 47px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
}

.owlCountryItem {
    width: 304px;
    height: 178px;
    overflow: hidden;
}

.owlCountryItem:hover .country_title_back {
    background-color: rgba(7, 82, 135, 0.8);
}

.owl-carousel:hover .owlCountryItem {
    height: 330px;
}

.countries_slider_container:hover .owlCountryItem {
    height: 329px;
}

.owlCountryItemInner {
    width: 287px;
    height: 176px;
    background-color: #ffffff;
    margin-left: 15px;
    text-align: center;
}

.owl-carousel:hover .owlCountryItemInner,
.countries_slider_container:hover .owlCountryItemInner {
    height: 327px;
}

.country_div {
    width: 100%;
    height: 176px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.owlCountryItem:hover .country_div {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.country_title_back {
    width: 100%;
    height: 40px;
    background-color: #436081;
    background-color: rgba(35, 42, 52, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.owlCountryItem:hover .country_title_back {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.country_links_back {
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
}

.country_title_text {
    color: white;
    font-size: 15px;
}

.country_promo_div {
    margin-top: 13px;
    margin-bottom: 11px;
    margin-left: 18px;
    margin-right: 18px;
    text-align: justify;
    font-size: 15px;
    cursor: default;
}

.country_link_div {
    width: 100%;
    height: 37px;
    background-color: white;
    color: black;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
}

.country_link_div:hover {
    background-color: #fff6e5;
}

.country_name_link {
    text-decoration: none;
    color: white;
}
.country_link {
    text-decoration: none;
    color: black;
}

.pl-country-link{
    padding: 10px;
}

.countries_slider_container .owl-theme .owl-dots .owl-dot span {
    margin-right: 6px !important;
    margin-left: 6px !important;
}

.noScrollSlider .countries_slider_container{
    padding-bottom: 10px;
}
.general_link {
    text-decoration: none;
    color: #a93603;
}
.general_link:hover {
        text-decoration: underline;
}
/******************************************************************/
/**********************   Locations list   ************************/
/******************************************************************/
.countries_list,
.cities_list {
    width: 240px;
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin-left: 15px;
    vertical-align: top;
    border-radius: 5px;
}

.countries_map,
.cities_map {
    width: 955px;
}

.scrollable-list-container {
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #cbcbcb;
}

.jspPane {
    min-width: 100%;
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
}

.listCountryItem-link-container,
.listCityItem-link-container {
    text-decoration: none;
    color: black;
}

.country-list-item,
.city-list-item {
    border: 1px solid #cbcbcb;
    border-bottom: none;
    border-left: none;
    background-color: #f5f5f5;
    min-height: 42px;
    position: relative;
}

.country-hover,
.city-hover {
    position:absolute;
    width: 232px;
    min-height: 42px;
    top: 0;
    right: 0;
    z-index: 150;
}

.country-list-item:hover,
.city-list-item:hover {
    background-color: #fff6e5;
}

.country-name,
.city-name {
    font-size: 14px;
    padding: 12px 12px 10px;
}

.country-flag {
    width: 30px;
    position: absolute;
    left: 18px;
}

.city-type {
    font-size: 12px;
    font-weight: 400;
}

#map {
    height: 601px;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
}

.gm-style-iw-d {
    overflow: auto !important;
}

.cities_map .gm-style-iw.gm-style-iw-c{
    width: 120px;
    height: 50px;
    text-align: center;
    padding: 8px 0;
}

.countries_map .gm-style-iw.gm-style-iw-c {
    width: 160px;
    height: 50px;
    text-align: center;
    padding: 15px 0;
}

.iw-flag {
    width: 30px;
    display: inline-block;
    margin-left: 5px;
}

.iw-country-name {
    display: inline-block;
    padding-top: 2px;
    margin-right: 2px;
}

.countries_map .gm-ui-hover-effect,
.cities_map .gm-ui-hover-effect {
    display: none !important;
}

.travel_cost_container {
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}


.travel_costs_title {
    font-size: 13px;
    font-weight: bold;
}

.travel_costs_title_td {
    height: 40px;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.regular_link {
    text-decoration: none;
    color: #8f1400;
}

.regular_link:hover {
        text-decoration: underline;
}

.destination_tittle {
    width: 100%;
    background-color: #f5f5f5;
}

.linkDiv {    
    width: 287px;
    text-align: center;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    background-color: white;
    float: right;
    margin-bottom: 15px;
}

.linkDiv:hover {
    background-color: #fff6e5;
}

.linkText {
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.dest_desc_div {
    width: 668px;
    margin-top: 25px;
    margin-left: auto; 
    margin-right: auto;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.dest_desc_title_div {
    width: 100%;
    background-color: #f5f5f5;
    height: 47px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dest_desc_title {
    font-size: 15px;
    font-weight: bold;
}

.dest_desc_text {
    direction: rtl;
    margin: 18px;
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
}

.chabad_title_text {
    font-size: 14px;
    font-weight: bold;
}

#visasList tr:not(:first-child):hover {
    background-color: #fff6e5;
}

.visa_info_title {
    font-size: 15px;
    font-weight: bold;
}

.visa_info_text {
    direction: rtl;
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
}
.weather_div {
    width: 180px;
    text-align: center;
    background-color: white; 
    border: 1px #cbcbcb solid;
    border-radius:5px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}

.weather_div_cn {
    width: 194px;
    text-align: center;
    background-color: white;
    border: 1px #cbcbcb solid;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}

.weather_month_text {    
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight:bold;
}

.weather_title_div {
    background-color: #f5f5f5;
    padding-top: 11px;
    padding-bottom: 11px;
}

.combo_item_bold {
    font-weight: bold !important;
}

.relevance_div {
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.currency_exchange_div {
    width: 100%;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.area_city_info_div {
    width: 285px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.area_city_info_name {
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.promo_area_text {
    direction: rtl;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 14px;
}

.flag_border {
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    width: 20px;
    background-color: white;
    overflow:hidden;
}

.search_title {
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
}

.dest_desc_text img {
    width: 110px;
    border-radius: 5px;
    margin-left: 18px;
}

.dest_desc_text figure {
    margin: 0;
    padding: 0;
}

.dest_desc_text table td {
    vertical-align: top;
}

.weather_summery_div {
    width: 668px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    margin-top: 25px;
}

.weather_bottom_border_div {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    text-align: right;
    direction: rtl;
    font-size: 12px;
}

.deals_title {
    font-size: 16px;
    font-weight: bold;
}
